[defaults]
transport = ssh
enable_plugins = aws_ec2
inventory = inventory/aws_ec2.yml
host_key_checking = False
callback_enabled = timer
nocows = 1
interpreter_python=auto_silent 
timeout = 60 

[ssh_connection]
ssh_args = -o ForwardAgent=yes

log_path=logs/ansible_log.txt
stdout_callback = yaml

