__pycache__/
.pytest_cache
.project
.pydevproject
.settings
*.out
*.swp
*.sqlite3
.dbeaver
.venv/
staticfiles/
__pycache__/
.pytest_cache
.project
.pydevproject
.settings
.dbeaver
.venv/
*.sqlite3
access/
