# Gunicorn configuration file
import multiprocessing

loglevel = "info"

max_requests = 1000
max_requests_jitter = 50

log_file = "-"

workers = multiprocessing.cpu_count() * 2 + 1

bind = "unix:{{ aws.instance.gunicorn.systemd.socket.file.path }}" 