[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory={{ aws.instance.project.dir.path }}
ExecStart={{ aws.instance.project.venv.dir.path }}/bin/gunicorn --config {{ aws.instance.gunicorn.config.dir.path }}/gunicorn.conf.py {{ aws.instance.project.root.dir.name }}.wsgi

[Install]
WantedBy=multi-user.target
